pipeline/deleting_json_pipeline.json
{
	"name": "deleting_json_pipeline",
	"properties": {
		"activities": [
			{
				"name": "sql_to_json",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "If File exists",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "JSON file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "sqltable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "json",
						"type": "DatasetReference",
						"parameters": {
							"pipelineid": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "JSON file",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "If File exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "json",
						"type": "DatasetReference",
						"parameters": {
							"pipelineid": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							}
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "datalake",
							"type": "LinkedServiceReference"
						},
						"path": "demo/rob"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "If File exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "File exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('File exists').output.exists",
						"type": "Expression"
					}
				}
			},
			{
				"name": "File exists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "json",
						"type": "DatasetReference",
						"parameters": {
							"pipelineid": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			}
		],
		"annotations": []
	}
}