pipeline/rijksmuseum.json
{
	"name": "rijksmuseum",
	"properties": {
		"activities": [
			{
				"name": "Download JSON",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://www.rijksmuseum.nl/api/en/collection?key=6epvixwD",
					"method": "GET"
				}
			},
			{
				"name": "Collect URLs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Download JSON",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Download JSON').output.artObjects",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Append image",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "images",
								"value": {
									"value": "@json(concat('{\"id\":\"', item().id, '\", \"url\": \"', item().webImage.url, '\"}'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Store image",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Collect URLs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('images')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Download file",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "webimage",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "storedimage",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"images": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}