pipeline/rijksmuseum.json
{
	"name": "rijksmuseum",
	"properties": {
		"activities": [
			{
				"name": "Download JSON",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://www.rijksmuseum.nl/api/en/collection?key=6epvixwD",
					"method": "GET"
				}
			},
			{
				"name": "Collect URLs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Download JSON",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Download JSON').output.artObjects",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append image",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "images",
								"value": {
									"value": "@json(concat('{\"id\":\"', item().id, '\", \"url\": \"', item().webImage.url, '\"}'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"images": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}